@model IEnumerable<scientist.Models.Scientist>

@{
    ViewData["Title"] = "Search";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cityzenship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livingplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cityzenship)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workplace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Livingplace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times" aria-hidden="true" style="color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>